h1 {
  font-size: 1.2em;
  margin-bottom: 0;
}
h3 {
  font-size: 2em;
  margin-top: 0;
  padding-top: 0;
}
nav {
  list-style-type: none;
  margin: 2px;
  padding: 0;
  width: 100%;
  background-color: darkgray;
}
body {
  background: #cfd8dc;
}
nav a {
  padding: 5px 10px;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #334953;
}
nav a:hover {
  color: #039be5;
  background-color: #cfd8dc;
}
nav a.active {
  color: darkslateblue;
}
